.blog-main-container {
  padding-bottom: inherit;
}

.blog-container {
  position: relative;
  width: 340px;
  height: 500px;
 margin: 1rem;
}

.blog-header-img {
  position: relative;
  width: 100%;
  height: 20%;
}

.blog-link {
  position: absolute;
  top: 0;
  left: 0;
  margin: 2%;
}

.blog-edit-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
}

.blog-profile-img {
  position: absolute;
  width: 4rem;
  height: 4rem;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blog-nsfw-badge {
  position: absolute;

  top: 20%;
  left: 0;
  margin: 1%;
}

.blog-18-only-badge {
  position: absolute;
  top: 20%;
  left: 15%;
  margin: 1%;
}

.blog-age-badge {
  position: absolute;
  left: 52%;
  top: 22%;

  margin: 1%;
}

.blog-title {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  width: inherit;
  padding-left: .25rem;
  padding-right: .25rem;
}

.blog-desc {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  line-height: 1rem;

  width: inherit;
  padding-left: .5rem;
  padding-right: .5rem;
}

.edit-blog-title-label {
  width: 100%;
  height: 50px;
  text-align: left;
}

.edit-blog-title-box {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.edit-blog-desc-label {
  width: 100%;
  height: 100px;
  text-align: left;
}

.edit-blog-desc-box {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}