.post-main-container {
  padding-bottom: inherit;
}

.post-container {
  position: relative;
  display: inline-block;
  width: 550px;
  margin: 1rem;
}

//Stuff for all posts..
.post-top-bar {
  border-bottom: 1px solid;

  width: 100%;
  height: 25px;
}

.post-contents {
  width: 100%;
}

.post-bottom-bar {
  border-top: 1px solid;

  width: 100%;
  height: 40px;
}

.blog-url-latest {
  position: relative;
  float: left;

  max-width: 40%;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-size: 11pt;

  margin-left: 5pt;
}

.blog-url-second {
  position: relative;
  float: left;

  max-width: 40%;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-size: 11pt;
}

.reblog-icon {
  position: relative;
  float: left;

  width: 25px;
  height: 25px;
}

.post-title {
  padding: 5pt;
  word-wrap: break-word;
  hyphens: auto;

  width: 100%;
}

.post-body {
  padding: 5pt;
  word-wrap: break-word;
  hyphens: auto;

  width: 100%;
}

.post-source {
  position: relative;
  float: left;

  max-width: 40%;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-size: 11pt;

  margin-left: 5pt;
}

.post-bookmark {
  position: relative;
  float: right;

  width: 35px;
  height: 35px;

  margin: 1pt 5pt 1pt 0;
}

.post-reblog {
  position: relative;
  float: right;

  width: 35px;
  height: 35px;

  margin: 1pt 5pt 1pt 0;
}

//Image post stuffs
.post-image-container {
  width: 100%;

}

.post-image {
  width: 100%;
  height: fit-content;
  object-fit: contain;
}

//Audio Post stuffs
.post-audio-container {
  width: 100%;
  overflow: hidden;
}

.post-audio-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-size: 11pt;

  margin-left: 5pt;
}

.post-audio {
  width: 100%;
}

//Video post stuffs
.post-video-container {
  width: 100%;

  overflow: hidden;
}

.post-video {
  width: 100%;
  height: auto;
}