.post-main-container {
  padding-bottom: inherit;
}

//TODO: Determine better size for posts...
.post-container {
  position: relative;
  width: 340px;
  height: 500px;
  margin: 1rem;
}

//TODO: Handle all of the post elements layouts and rules...