.following-main-container {
  padding-bottom: inherit;
}

.following-container {
  position: relative;
  display: inline-block;
  width: 550px;
  height: 50px;
  margin: 1rem;

  overflow: hidden;
}

.following-blog-icon {
  display: inline-block;

  height: 50px;

  float: left;

}

.following-blog-link {
  display: inline-block;

  height: 50px;

  float: left;

  padding-left: 15px;
  text-align: left;
  -webkit-transform: translate(0, 25%);
  -moz-transform: translate(0, 25%);
  -ms-transform: translate(0, 25%);
  -o-transform: translate(0, 25%);
  transform: translate(0, 25%);
}