@import "mixins";
@import "variables";

html {
  height: 100%;
}
body {
  @include body-font;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include body-font;
  font-weight: 700;
}

.underline-solid {
  text-decoration: underline solid;
}

.underline-dotted {
  text-decoration: underline dotted;
}

.strikethrough-solid {
  text-decoration: line-through solid;
}

.strikethrough-dotted {
  text-decoration: line-through dotted;
}

.icon-custom-small {
  height: 1rem;
  width: 1rem;
}

.icon-custom-medium {
  height: 1.5rem;
  width: 1.5rem;
}

.icon-custom-large {
  height: 2rem;
  width: 2rem;
}